page-home {
    background: linear-gradient(260deg, #313131, #1c1c1c, #d61c1c);
    background-size: 800% 800%;
    animation: background 26s ease infinite;

    ion-content{
        background-color: transparent !important;
    }

    ion-grid {
        height: 100%;
        justify-content: center;
    }
    ion-card{
        width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@keyframes background { 
	0%{background-position:0% 88%}
	50%{background-position:100% 13%}
	100%{background-position:0% 88%}
}